{% extends 'base.html' %}
{% load staticfiles %}
{% load blog_tags %}

{% block main %}
    <div class="jumbotron text-center "
        style="background:url({% static 'img/bg.jpg'%}); background-size:cover; color:#ffffff; text-shadow:1px 1px 1px #000;">
        <div >
        <h1 class="display-3">博客系统</h1>
        <p>朱洪东 王闯</p>
        <!--    <form class="form-inline" style="display:block" >
            <input class="form-control mr-sm-2" type="text" placeholder="搜索博客" aria-label="Search">
            <input class="btn btn-outline-light my-2 my-sm-0" type="submit" value="提交">
        </form>-->
            <form class="form-inline" style="display:block" role="search" method="GET" id="searchform" action="{% url 'search' %}">
                <input name='q' class="form-control mr-sm-2" type="text" placeholder="搜索博客" aria-label="Search">
                <input class="btn btn-outline-light my-2 my-sm-0" type="submit" value="提交">
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">



                    <div class="widget widget-recent-posts">
                        <h3 class="widget-title">最新文章</h3>
                        {% get_recent_blogs as recent_post_list %}
                        <ul>
                            {% for post in recent_post_list %}
                            <li>
                                <a href="{% url 'blog_index' post.id %}">{{ post.title }}</a>
                            </li>
                            {% empty %}
                            暂无文章！
                            {% endfor %}
                        </ul>
                    </div>


            </div>
            <div class="col-sm-8">
                {% for blog in blogs %}
                <div align="left" class="blog">
                    <div class="title">
                        <a href="{% url 'blog_index' blog.id %}"><h2>{{ blog.title }}</h2></a>
                    </div>
                    <div class="info">
                        <span class="category" style="color: #ff9900;">{{ blog.category.name }}</span>
                        <span class="author" style="color: #4a86e8;">{{ blog.author }}</span>
                        <span class="pub" style="color: #6aa84e">{{ blog.pub }}</span>
                    </div>
                    <div class="summary">
                        {{ blog.content | truncatechars:100 }}
                    </div>
                </div>
                {% empty %}
                <p>暂无文章</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
