{% extends 'base.html' %}
{% block main %}
<div class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow" >
        <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">
                        组名:{{ team.name}}
                    </strong>
                </div>
                <span class="d-block">主题: {{ team.theme }}</span>
            </div>
        </div>
        <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">
                        创建者:                 
                    </strong>
                </div>
                <span class="d-block">{{ creator.user_name}}</span>
            </div>
        </div>
        <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">
                        参与者:
                    </strong>
                </div>
                <span class="d-block">
                    {% for m in members %}
                    {{m.user_name}}
                    {% empty %}
                    暂无参与者
                    {% endfor %}
                </span>
            </div>
        </div>
    </div>
    <!--
    组名:{{ team.name}}
    创建者:{{ creator.user_name}}
    参与者:{% for m in members %}
    {{m.user_name}}
    {% empty %}
    暂无参与者
    {% endfor %}
    -->
    {% if status == 'c' %}
    <a class="btn btn-outline-dark" href='/delete_team/{{team.team_id}}'>解散</a>
    <a class="btn btn-outline-dark" href='#'>写博</a>
    {% elif status == 'm' %}
    <a class="btn btn-outline-dark" href='/leave_team/{{team.team_id}}'>离开</a>
    <a class="btn btn-outline-dark" href='#'>写博</a>
    {% elif status == 'n' %}
    <a class="btn btn-outline-dark" href='/join_team/{{team.team_id}}'>加入</a>
    {% endif%}
</div>
{% endblock %}
