<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% load staticfiles %}

    <meta charset="UTF-8">
    <title>写文章</title>

</head>
<body>

    {% block main %}
<script>
function back(){
    location.href = "{% url 'blog_view' %}";
}
</script>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                <form method="POST" action="{% url 'update_blog' blog.id %}">
                    {% csrf_token %}
                    <!--标题-->
                    <div class="form-group">
                        <label for="title">标题</label>
                        <input type="text" class="form-control" id="title" name="title" value="{{ blog.title }}">

                    </div>
                    <!--正文-->
                    <div class="form-group">
                        <label for="body">正文</label>
                        <textarea type="text" class="form-control" id="body" name="content" rows="12">{{ blog.content }}</textarea>
                    </div>

                    <br><br>
                    <label for="id_category">分类：</label>
                    <input name="category" class="vTextFiled"  id="id_category" required=""
                                       type="text" maxlength="30" value="{{ blog.category }}">
                    <label for="id_tag">标签：</label>
                    <input name="tag" class="vTextFiled" id="id_tag" type="text" maxlength="150">
                        (多个标签之间以 ',' 分隔)
                    <br><br>
                    <button class="btn btn-primary" type="submit">提交</button>
                    <input class="btn btn-dark" type="button" value="放弃编辑" onclick="back()">

                </form>
            </div>
        </div>



    </div>
    {% endblock %}

</body>
</html>